.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn.lock
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
node_modules
release
dist/
blockchain/nodes/data
dapp/build

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.history
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*